{% extends "teamstoer/base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}event-index-page{% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-1 mx-md-3">
        <div class="col-xs-12">
            <h2><span class="label label-info">Live events</span></h2>
        </div>
        <div class="col-md-6">
        {% for event in page.events %}
            <h3>{{ event.date }}</h3>
            <p>
                {{ event.intro|richtext }}
            </p>
        {% endfor %}
        </div>
        <div class="col-md-6">
            {{ page.intro|richtext }}
        </div>
    </div>
    <div class="row mx-1 mx-md-3">
        <div class="col-xs-12">
            <h2><span class="label label-info">Historie</span></h2>
        </div>
        <div class="col-md-6">
        {% for event in page.history %}
            <h3>{{ event.date }}</h3>
            <p>
                {{ event.intro|richtext }}
            </p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
