/*****
 * TABLE OF CONTENTS
 *
 * FONT FAMILIES (served via Fonts.com)
 *   - Palatino
 *   - Helvetica Neue Medium
 *   - Helvetica Neue Light
 *   - Helvetica Neue Ultra Light
 *   - Helvetica Neue Bold
 *   - Helvetica Neue Default
 *   - Helvetica Neue Roma
 *
 *****/

$pal: "Palatino Linotype", Palatino, "Times New Roman", Times, serif;

$helvMedi: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;

$helvLigh: "Roboto", Helvetica, sans-serif;

$helvlt: "Roboto", Helvetica, sans-serif;

$helvBold: "Roboto", Helvetica, sans-serif;

$helv: Gotham, 'Roboto', Helvetica, Arial, sans-serif;

$roma: "Roboto", Helvetica, sans-serif;
