/*****
 * TABLE OF CONTENTS
 *
 * FONT FAMILIES (served via Fonts.com)
 *   - Palatino
 *   - Helvetica Neue Medium
 *   - Helvetica Neue Light
 *   - Helvetica Neue Ultra Light
 *   - Helvetica Neue Bold
 *   - Helvetica Neue Default
 *   - Helvetica Neue Roma
 *
 *****/

$pal: "Palatino Linotype", Palatino, "Times New Roman", Times, serif;

$helvMedi: "Gill sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

$helvLigh: "Gill sans", Helvetica, sans-serif;

$helvlt: "Gill sans", Helvetica, sans-serif;

$helvBold: "Gill sans", Helvetica, sans-serif;

$helv: 'Gill sans', Helvetica, Arial, sans-serif;

$roma: "Gill sans", Helvetica, sans-serif;
